/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.filters {
	width: 585px; 
    height: 38px;
    
    /* Centrage horizontal */
    margin-left: auto;
    margin-right: auto;
    
    /* Positionnement vertical et espace entre les éléments */
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* 2. Style par défaut de TOUS les boutons */
.filter-button {
    font-family: 'Syne', sans-serif; 
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    height: 37px;
    border: 1px solid #1D6154; 
    border-radius: 60px; 
    
    color: #1D6154; 
    background-color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;

    line-height: 37px;
}
.filter-button.active-filter {
    color: white; 
    background-color: #1D6154; 
    border-color: #1D6154;
}

/* PAGE DE CONNEXION (LOGIN) */

/* Centrage général du contenu et couleur de fond */
body {
    background-color: #FFFEF8; 

/* Titre "Log In" */
#login h2 {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #1D6154; 
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 50px;
}
/* Conteneur du formulaire */
#login form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 380px; 
    margin: 0 auto;
}

/* Labels des champs (E-mail, Mot de passe) */
#login label {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 7px;
    align-self: flex-start; /* Aligner les labels à gauche du formulaire */
}
/* Champs de saisie  */
#login input[type="email"],
#login input[type="password"] {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); 
    padding: 0 10px;
    font-size: 1.2em;
}
/* Bouton "Se connecter" */
#login input[type="submit"] {
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #1D6154;
    font-weight: 700;
    font-size: 1em;
    border: none;
    border-radius: 60px;
    height: 38px;
    width: 179px; /* Largeur du bouton basé sur la maquette */
    text-align: center;
    cursor: pointer;
    margin-top: 30px; 
    margin-bottom: 20px;
}
.active-link {
    font-weight: 600; 
}
/* Lien "Mot de passe oublié" */
.forgot-password {
	font-family: 'Work Sans', sans-serif;
    font-size: 14px;
	font-weight: 500 ;
    color: #3D3D3D;
    text-decoration: underline;
    text-align: center;
    display: block; /* Pour s'assurer qu'il prend toute la ligne pour le centrage */
}
}
#admin-bar {
    background-color: black;
    color: white;
    height: 50px; /* Important : donne lui une hauteur ! */
    width: 100%;
    display: none; /* Le JS le passera en 'flex' */
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
}
#portfolio h2 {
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 20px;               
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
/* On s'assure que le lien modifier ne casse pas le style du titre */
.edit-link {
    font-family: 'Work Sans', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Le conteneur (fond sombre) */
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: none; /* Changé en 'flex' par le JS */
    align-items: center;    
    justify-content: center; 
    z-index: 2000;
}
/*  Le conteneur (fond sombre) */
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: none; /* Changé en 'flex' par le JS */
    align-items: center;    
    justify-content: center;
    z-index: 2000;
}
/*  La boîte blanche (le contenu) */
.modal-wrapper {
    background-color: white;
    width: 630px;
    height: 688px;
    border-radius: 10px;
    
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box; /* Pour que le padding ne dépasse pas des 630px */
}
/*  Le bouton de fermeture  */
#modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}